#Set these values to match your environment. 
#The router hostname or IP address must be unique and match the name in the router configuration file. 
#The device_type must be one of the following: 
# - juniper_junos (Junos OS)
# - cisco_ios (Cisco IOS)
# - cisco_xe (Cisco IOS-XE)
# - cisco_xr (Cisco IOS-XR)
# - arista_eos (Arista EOS)
# See https://github.com/ktbyers/netmiko/blob/develop/PLATFORMS.md for full list
#
#The ix_id and name you can find in the ixp.cfg, here you can edit the name to suite your environment. eg. NAPAfrica IX Cape Town -> napa-cpt or whatever you like.
#The ipv4 and ipv6 addresses also are in the ixp.cfg file, these are really here to help you identify the router and the ixp it is connected to.
#
#These are the colomns in the file, separated by commas. Do not change the order of the columns.
#router(hostname or ip),device_type,ix_id,ix_name,ipv4,ipv6
some-router-you-own-pe1,cisco_xe,111,MYFAVIXP,192.0.1.111,2001:xxxx:aaaa:1::111
some-router-you-own-pe2,cisco_xr,111,MYFAXIXP,192.0.1.112,2001:xxxx:aaaa:1::112
some-router-you-own-pe3,juniper_junos,111,MYFAXIXP,192.0.1.113,2001:xxxx:aaaa:1::113
some-router-you-own-pe2,arista_eos,111,MYFAXIXP,192.0.1.114,2001:xxxx:aaaa:1::114
